@import "./mixins";

@include fontface('fontello', 'fontello');

[class^="icon-"]:before,
[class*=" icon-"]:before {
 font-family: "fontello";
 font-style: normal;
 font-weight: normal;
 speak: none;
 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 text-align: center;
 font-variant: normal;
 text-transform: none;
 line-height: 1em;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before { content: '\e800'; }
.icon-user:before { content: '\f061'; }
.icon-cancel:before { content: '\e801'; }
.icon-check:before { content: '\e802'; }

@include fontfaceW('Myriad Pro', 'MyriadPro-Bold', 700)
@include fontfaceW('Myriad Pro', 'MyriadPro-Semibold', 500)
@include fontfaceW('Myriad Pro', 'MyriadPro-Regular', 400)
