@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins";
@import "./fonts";

$linesColor: rgba(132,132,132,.28);
$formBgColor: #fafafa;
$formTitleColor: #939797;
$formBorderColor: #cfcfcf;
$formBorderRadius: 10px;
$alertDangerBorderColor: #db5252;
$alertDangerTextColor: #a93b3b;
$alertSuccessBorderColor: #49cf8b;
$alertSuccessTextColor: #299a60;
$alertTextShadow: 0 1px 0 rgba(255,255,255,.42);
$btnTextShadow: 1px 1px 0 rgba(0,0,0,.42);
$fontBold: 700;
$fontSemibold: 500;
$fontRegular: 400;
$borderColorInput: #e6e6e6;
$bgColorInput: #f7f6f6;
$linksColor: #787878;
$linksColorHover: #2993de;

$fontSize: 14px;
$bgButtonHover: #0f578a;
$bgButton: #0b67a8;

body{
   min-height: 100vh;
   font-family: 'Myriad Pro', 'sans-serif', 'Arial';
   font-weight: $fontRegular;
   font-size: $fontSize;
}
.wrapper{
   background: url('../img/mosaic-background.jpg');
   background-position: 0 0;
   background-repeat: repeat;
   min-width: 100%;
   min-height: 100vh;
   display: block;
   position: relative;
   &:before,
   &:after{
      content: "";
      display: block;
      width: 100%;
      height: 8px;
      background: $linesColor;
      position: absolute;
   }
   &:before{
      top: 0;
   }
   &:after{
      bottom: 0;
   }
}

.wrapper--container{
   min-height: 100vh;
}

.wrapper--alert .alert{
   width: 100%;
   position: relative;
   display: none;
   &.alert-danger{
      @include gradient-y(#f07c7c, #ed6d6d);
      font-weight: $fontBold;
      border-color: $alertDangerBorderColor;
      color: $alertDangerTextColor;
      text-shadow: $alertTextShadow;
      @include getEm(14px);
   }
   &.alert-success{
      @include gradient-y(#66e1a3, #58dc97);
      font-weight: $fontBold;
      border-color: $alertSuccessBorderColor;
      color: $alertSuccessTextColor;
      text-shadow: $alertTextShadow;
      @include getEm(14px);
   }
   & .icon{
      position: absolute;
      @include getEm(16.5px);
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
   }
}
.wrapper--login{
   & .link{
      margin-top: 20px;
      margin-bottom: 0;
      color: $linksColor;
      font-weight: $fontSemibold;
      @include getEm(14px);
      & a{
         color: inherit;
         text-decoration: underline;
      }
      & span{
         color: $linksColorHover;
      }
      &.small{
         @include getEm(11px);
         margin-top: 12px;
         & a{
            text-decoration: none;
         }
      }
   }
}
.wrapper--login-block-form{
   max-width: 390px;
   position: relative;
   z-index: 2;
   &::before,
   &::after{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      background-color: $formBgColor;
      border: 1px solid $formBorderColor;
      border-radius: $formBorderRadius;
   }
   &::before{
      top: 3px;
      bottom: -3px;
      z-index: 1;
   }
   &::after{
      top: 6px;
      bottom: -6px;
      z-index: 0;
   }
}
.wrapper--login-content{
   min-height: 271px;
   position: relative;
   background-color: $formBgColor;
   border: 1px solid $formBorderColor;
   border-radius: $formBorderRadius;
   z-index: 5;
   & h2{
      font-weight: $fontBold;
      @include getEm(18px);
      text-align: center;
      color: $formTitleColor;
      margin-bottom: 25px;
   }
   & .input-group{
      max-width: 215px;
      margin: 0 auto;
      position: relative;
      background: $bgColorInput;
   }
   & .form-group{
      margin-bottom: 7px;
   }
   & .form-control{
      border-bottom: 0;
      border-top: 2px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      border-radius: 4px 4px 0 0;
      border-color: $borderColorInput;
      @include getEm(14px);
      outline: none;
      background: transparent;
      &:focus{
         // border-color: #0b67a8;
         box-shadow: none;
      }
   }
   & .icon{
      position: absolute;
      z-index: 1;
      color: #e2e1e1;
      right: 17px;
      top: 50%;
      transform: translateY(-50%);
      @include getEm(16px);
   }
   & .btn{
      margin: 0 auto;
      display: block;
      margin-top: 16px;
      @include getEm(16px);
      font-weight: $fontBold;
      text-shadow: $btnTextShadow;
      min-width: 116px;
      padding: 11px;
      line-height: 1em;
      background: $bgButton;
      transition: all .3s ease;
      border-color: #0f578a;
      border-radius: 5px;
      box-shadow: inset 0px 1px 0 #6fa3ca, 0px 2px 0px rgba(0, 0, 0, 0.35);
      &:focus{
         box-shadow: none;
      }
      &:hover{
         transition: all .3s ease;
         background: $bgButtonHover;
      }
   }
   & .form-check{
      @include getEm(12px);
      color: #939797;
      margin-top: 16px;
      text-align: center;
   }

}

.wrapper--custom-alert{
   max-width: 475px;
   margin: 0 auto;
   margin-top: 40px;
   & .info-icon{
      width: 30px;
      height: 28px;
      background: #7b7b7b;
      color: white;
      font-weight: $fontBold;
      @include getEm(18px);
      font-style: normal;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      margin-right: 5px;
   }
   & .alert{
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 35px);
      text-align: center;
      font-style: italic;
      @include getEm(12px);
      margin: 0;
      padding: 0;
      line-height: 28px;
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      border-radius: 0 ;
   }
}
